@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiant {
  background: radial-gradient(#c8d6e5, #8ae9b3);
}

.buttonPopWhenClicked {
  animation: button-pop 0.25s ease-out;
}

@keyframes button-pop {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
